.classrooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.classroom {
  padding: 8px;
  margin: 8px;
  border-radius: 10px;

  background-color: antiquewhite;

  height: max-content;
  width: 500px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.logout-button {
  height: 20px;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-align: center;
}
